// Variables
@formActionsBackground: transparent;
@linkColor: #2B587A;

// Custom styles
.icon-phone { background: center center url(../img/icon-phone.png) no-repeat; }

.control-label {
    font-weight: bold;
    color: #666;
}

#captcha_image {
  cursor: pointer;
}